footer {
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

footer ul {
  width: 33%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1450px) {
  footer ul {
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  footer ul {
    width: 80%;
  }
}