* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    color: #000;
  }
  body {
    padding: 2% 25%;
    background-color: #fff;
  }
  h1, h2, h3, h4, h5, p, a {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p, a {
    font-family: 'Inconsolata', monospace;
  }
  p {
    line-height: 1.5;
    color: rgba(38,41,58,.8);
  }
  img {
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.bullet-list {
    list-style: disc;
    list-style-position: inside;
  }
  a {
    color: rgba(38,41,58,.8);
    text-decoration: none;
    transition: all 0.3s;
  }
  a.link-btn::before {
    content: '[';
  }
  a.link-btn::after {
    content: ']';
  }
  a:hover {
    color: #ff1a54;
    text-decoration: underline;
    transition: all 0.3s;
  }
  .margin-top-xs {
    margin-top: 5px;
  }
  .margin-top-sm {
    margin-top: 15px;
  }
  .margin-top-md {
    margin-top: 30px;
  }
  .margin-top-lg {
    margin-top: 50px;
  }
  .margin-bottom-xs {
    margin-bottom: 5px;
  }
  .margin-bottom-sm {
    margin-bottom: 15px;
  }
  .margin-bottom-md {
    margin-bottom: 30px;
  }
  .margin-bottom-lg {
    margin-bottom: 50px;
  }
  .margin-right-xs {
    margin-right: 5px;
  }
  .margin-right-sm {
    margin-right: 15px;
  }
  .margin-right-md {
    margin-right: 30px;
  }
  .margin-right-lg {
    margin-right: 50px;
  }
  .margin-left-xs {
    margin-left: 5px;
  }
  .margin-left-sm {
    margin-left: 15px;
  }
  .margin-left-md {
    margin-left: 30px;
  }
  .margin-left-lg {
    margin-left: 50px;
  }
  .font-color-yellow {
    color: #ffb70c;
  }
  .font-color-winter-green {
    color: #50adb7;
  }
  .font-color-secondary {
    color: #444;
  }
  .font-color-light-gray-super {
    color: #848484;
  }
  .font-color-violet {
    color: #4413ff;
  }
  .all-caps {
    text-transform: uppercase;
  }
  .font-override {
    font-family: 'Inconsolata', monospace;
  }
  .flex-container {
    display: flex;
  }
  .flex-column {
    height: 100%;
    width: 100%;
  }
  .flex-content {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-split {
    justify-content: space-between;
  }
  .flex-end {
    justify-content: flex-end;
  }
  @media only screen and (max-width: 600px) {
    body {
      padding: 5% 5%;
      background-color: #fff;
    }
    .flex-container {
      display: flex;
    }
    .flex-column {
      height: 100%;
      width: 100%;
    }
    .flex-content {
      display: flex;
      flex-direction: column;
    }
  }